@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

.gallery-heading{
    font-family: 'Source Code Pro', monospace;
    margin: 5rem;
    text-align: center;
    font-size: 2.4rem;
}

.gallery{
    display: flex;
    margin: 10rem 20rem;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.gallery .painting{
    margin: 2rem;
}

@media screen and (max-width: 800px){
    .gallery{
        flex-wrap: wrap;
        flex-direction: column;
        margin: 10rem 10rem;
    }
}