@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

.gallery h2{
    font-family: 'Source Code Pro', monospace;
    padding: 4rem;
}

.gallery{
    display: flex;
    margin: 10rem;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.gallery .painting{
    margin: 2rem;
}