.hero-section{
    height: 60rem;
    margin: 10rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.backgroun-image{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

.hero-section .about-text{
    margin: 10rem;
    text-align: center;
    width: 60%;
}

.hero-section img{
    border-radius: 10rem;
}

@media screen and (max-width: 750px){
    .hero-section{
        flex-wrap: wrap;
    }
}